---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


  <h2><b>Website Hierarchy</b></h2>

  <script>
    let navTree = [];
    {% for page in site.pages %}
      {% if page.layout == "page" %}
        navTree.push("{{ page.path }}");
      {% endif %}
    {% endfor %}

    sessionStorage.setItem("fileHirarchy", JSON.stringify(navTree));
  </script>

  <div id="nav-tree"></div>
  <link rel="stylesheet" href="WebAssets/nav-tree.css">
  <script type="module" src="WebAssets/nav-tree.js"></script>


  {{ content }}
</div>